$green: #008742
$dark-green: #007E3E
$light-green: #14F39A
$orange: #fa8035
$form-border: #BEC3C7
$fb_blue: #4c66a4
$tw_blue: #00adef

// Gray
$light_gray: #666666
$lightest_gray: #d2d3d5
$background_gray: #f4f5f7
$mob-gray: #e6e7e8