body
  font-size: 1.1em
  background: #333

body
  font-family: Proxima Nova Soft
  color: #666

h2, h3, h4, h5
  font-family: Pluto
  color: #666

h2
  font-size: 1.75em
  font-weight: normal

h5
  font-weight: bold
  font-size: .9em

p
  color: #999

img.user
  +border-radius(100%)

.meurio_header
  .meurio_logo_and_user_menu
    .user_menu
      .current_user_links
        width: 170px
  .alert
    display: none

footer
  text-align: right
  padding: 1em 0
  font-size: 1.25em

form
  margin-bottom: 5em

hr
  margin: 2em 0

a
  &.alert
    color: red

.page-wrap
  padding: 60px 0
  background: white

#facebox
  .content
    padding: 1em 2em

.fb-like
  iframe
    span#u_0_2
      color: white
      a
        color: #ccc

.row
  +grid-row

.flash
  display: none
  bottom: 0
  width: 100%
  z-index: 500
  color: white
  position: fixed
  text-align: center
  .wrapper
    padding: 20px
  .success.wrapper, .notice.wrapper
    background-color: $green
  .failure.wrapper, .error.wrapper, .alert.wrapper
    background-color: $orange

.field_with_errors
  label
    color: $orange !important

.form
  form
    .row
      margin-bottom: 1em
    label
      font-weight: bold
      margin: .25em 0
    .radio, .checkbox
      padding: .5em 0
      label
        display: inline
        margin-left: .5em
    input
      margin-bottom: .5em
    input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="date"], textarea, select
      +border-radius(5px)
      border: 2px $form-border solid
      font-size: 1.1em
      resize: none
    textarea
      height: 10em
    select
      background-color: $form-border
      color: white
      height: 2.3125em
      padding: .4em
    .hint
      font-size: .8em
    .action
      margin-top: 2em
      .cancel
        a
          color: red
          font-weight: bold

.password-recovery
  h2, h4
    color: $green
  h2
    font-size: 1.3em
    font-weight: bolder
    margin-bottom: 0
  h4
    font-size: 1em
    font-weight: normal
    margin-top: 0
  form
    margin: 1em 0 0 0
    input[type="email"], input[type="password"]
      padding: 0 .5em
      font-size: 1em

.task
  span.label
    text-transform: uppercase
    padding: 0 1em
    line-height: 2em
    margin-bottom: 1em
    background: gray
  &.mobilizacao-em-rede
    span.label
      background: $mobilizacao-em-rede
    .mobilization
      color: $mobilizacao-em-rede
  &.mobilizacao-na-rua
    span.label
      background: $mobilizacao-na-rua
    .mobilization
      color: $mobilizacao-na-rua
  &.audio-e-visual
    span.label
      background: $audio-e-visual
    .mobilization
      color: $audio-e-visual
  &.producao-e-consultoria
    span.label
      background: $producao-e-consultoria
    .mobilization
      color: $producao-e-consultoria
  &.tecnologia
    span.label
      background: $tecnologia
    .mobilization
      color: $tecnologia
  .task-wrapper
    background: white
    padding: 1em
    border: 1px solid #d8dadd
    border-bottom: 0
    +border-radius(3px 3px 0 0)
    .title_and_mobilization
      height: 120px
      color: #333
      a
        color: #333
    .title
      font-weight: bold
      margin-bottom: .2em
    .mobilization
      font-size: .8em
      margin-bottom: 1em
    .max_deliveries
      &:before
        position: relative
        top: 2px
        color: lightgray
      span
        margin-left: .5em
        font-size: .8em
        color: gray
        font-family: "Proxima Nova Soft"
  .task-status
    background: #d8dadd
    padding: 1em
    color: white
    font-size: .9em
    +border-radius(0 0 3px 3px)
    &.pending
      background: #ffad01
    &.awaiting_validation
      background: #b0d27b
    &.late
      background: #ed1b24
    &.accepted
      background: #00a14b

.field_with_errors
  display: inline

.hidden
  display: none

.slide-divisor
  text-align: center
  &:after
    +css-triangle(20px, $dark-gray, top)
    display: inline-block
  h2
    background: $dark-gray
    padding: 1em 0
    margin: 0
    text-align: center
    color: white

span.has-tip
  margin-left: .5em

.vertical-align-container
  display: table
  height: 100%
  width: 100%
  .vertical-align-content
    display: table-cell
    vertical-align: middle
