$row-width: 980px

body
  font-size: 1.1em

body, h2, h3
  font-family: Proxima Nova
  color: #666

p
  color: #999

header
  background: $green
  padding: .5em 0
  img
    width: 60px
    height: 60px

footer
  background: #333
  padding: 1em 0

form
  margin-bottom: 5em

.fb-like
  iframe
    span#u_0_2
      color: white
      a
        color: #ccc

.row
  +grid-row

.btn
  outline: none
  background: $orange
  text-transform: uppercase
  padding: .4em 1em
  border: 0
  margin: 0
  color: white
  font-weight: bold
  display: inline-block
  +border-radius(3px)
  +box-shadow(darken($orange, 20%) 0 2px 0)
  &:hover
    background: darken($orange, 10%)
    color: white
  &:active
    +box-shadow(darken($orange, 20%) 0 2px 0)
  cursor: pointer

.flash
  text-align: center
  padding-top: 1em
  .alert
    color: $orange
  .notice
    color: $green

.login
  form
    margin: 0
    label
      padding: .1em
      color: white
      font-size: 0.7em
      font-weight: bold
    input
      height: 1.8em
      margin: 0
      +border-radius(5px)
    .btn
      text-transform: none
      margin-top: 1em
      padding: 0
      font-size: .9em
      height: 1.8em
      width: 100%
    a
      color: $light-green
      font-size: 0.7em
  .logged-user
    padding: 1em 0
    span, a
      color: white
      font-size: 1em
      font-weight: bolder
