$row-width: 940px

body
  font-size: 1.1em

body, h2, h3
  font-family: Proxima Nova
  color: #666

p
  color: #999

header
  background: $green
  padding: 1em 0

footer
  background: #333

header, footer
  padding: 1em 0

.fb-like
  iframe
    span#u_0_2
      color: white
      a
        color: #ccc

.row
  +grid-row
