body.mobilizations.index
  h2
    font-size: 1.75em
    font-weight: normal
  .vision
    background: image-url("bg-01.jpg") no-repeat center center
    text-align: center
    color: white
    padding: 1em 0
    h2
      color: white
