body.organizations.show
  .page-wrap
    padding: 0 0 60px 0
  .cover
    background-size: cover !important
    overflow: hidden
    padding: 4em 0 3em 0
    .content
      +grid-column(8, $center: true)
      text-align: center
      p
        color: white
        margin-top: 2em
  section
    .copy
      +grid-column(8, $center: true)
      padding-top: 1em
      padding-bottom: 1em
      p
        font-size: 1em
        color: black
      small
        display: inline-block
        margin-top: .5em
        margin-bottom: 2em
        font-size: .7em

  .meurio .cover
    background: image-url("institucionais/meurio/capaMR.jpg") center top
  .minhasampa .cover
    background: image-url("institucionais/minhasampa/capaMSP.jpg") center top
  .minhacampinas .cover
    background: image-url("institucionais/minhacampinas/capa.png") center center
  .minhagaropaba .cover
    background: image-url("institucionais/minhagaropaba/cover.png") center center
  .meurecife .cover
    background: image-url("institucionais/meurecife/cover.png") center center
  .minhablumenau .cover
    height: 700px
    background: image-url("institucionais/minhablumenau/cover.png") center center
  .minhaouropreto .cover
    height: 400px
    background: image-url("institucionais/minhaouropreto/cover.jpg") center center
  .minhaportoalegre .cover
    height: 400px
    background: image-url("institucionais/minhaportoalegre/cover.jpg") center center
