body.pages.founders
  .founders-top-bar
    ul.title-area
      img
        height: $topbar-height - 15
    nav.top-bar
      a:hover
        text-decoration: underline

  .meurio_header
    display: none

  h2
    background: $primary-color
    color: white
    font-weight: normal
    margin-bottom: 40px
    text-transform: uppercase

  p
    font-size: 21px

  .title
    +grid-column(6, $center: true)

  .text, .action
    +grid-column(11, $center: true)

  .action
    .button
      margin: 0

  .page-wrap
    padding: 0
    .orbit-container
      .orbit-timer
        display: none
      .orbit-bullets
        li
          padding: 7px
          margin: 0 10px
          cursor: pointer

  .founders-slider
    ol.orbit-bullets
      li
        background: white
        &.active
          background: $primary-color

  .video
    +grid-column(12)
    margin-bottom: 2em

  .founders-moderators
    ul.orbit-slides-container
      li
        height: 300px
    ol.orbit-bullets
      li
        background: darken($primary-color, 10%)
        &.active
          background: lighten($primary-color, 20%)

  .founders-about, .founders-program, .founders-steps, .founders-network, .founders-moderators, .founders-subscription, .founders-support, .founders-invite
    text-align: center
    padding: 80px 0

  .founders-slider
    background-image: asset-url("pages/founders/slider_bg_1.jpg")
    background-size: cover
    overflow: hidden
    +transition(.5s)
    &.founders-slider-0
      background-image: asset-url("pages/founders/slider_bg_1.jpg")
    &.founders-slider-1
      background-image: asset-url("pages/founders/slider_bg_2.jpg")
    &.founders-slider-2
      background-image: asset-url("pages/founders/slider_bg_3.jpg")
    // Preloading bg images
    &:after
      display: none
      content: asset-url("pages/founders/slider_bg_1.jpg") asset-url("pages/founders/slider_bg_2.jpg") asset-url("pages/founders/slider_bg_3.jpg")
    .locales
      +grid-column(12)
      ul
        text-align: right
        li
          font-size: .8em
          display: inline
          margin-left: 1em
          &.active
            a
              color: $primary-color
              text-decoration: underline
          a
            color: white
    .nossas-cidades, .founders-subscribe
      +grid-column(12)
      p
        color: white
        font-size: 20px
    .nossas-cidades
      margin-bottom: 40px
    .slide-content
      +grid-column(12)
      color: white
      font-size: 40px
      font-weight: bold
      margin-bottom: 30px
      height: 192px
      .vertical-align-container
        width: 100%
    iframe
      float: left

  .founders-about
    .about-content
      +grid-column(10, $center: true)
      p
        color: black
        font-size: 20px

  .founders-program
    background: asset-url("pages/founders/program/bg.jpg")
    background-size: cover
    .program-item
      +grid-column(4)
      min-height: 20em
      img
        margin-bottom: 10px
      h4
        color: $primary-color
        font-weight: bold
        margin: 0
      p
        color: white
        font-size: 18px
      h4, p
        line-height: normal

  .founders-steps
    .founders-step
      +grid-column(3)
      margin-bottom: 20px
      .step-name
        background: $primary-color
        color: white
        padding: rem-calc(10) 0
      .vertical-align-container
        width: 100%
      .step-box
        padding: 10px
        height: 200px
        background: $dark-gray
        color: white
        .step-content
          font-size: rem-calc(16)
          display: none
        &:hover
          background: $primary-color
          .step-cover
            display: none
          .step-content
            display: block

  .founders-network
    background: asset-url("pages/founders/network_bg.jpg")
    background-size: cover
    img
      margin: 0 40px
      width: 100px
    p
      color: white
    .text a
      color: $secondary-color

  .founders-moderators
    p
      color: black
      margin-bottom: 40px
    .founders-moderator
      margin-bottom: 80px
      +grid-column(3)
      .moderator-image
        +border-radius(100%)
        overflow: hidden
        position: relative
        max-width: 200px
        margin: 0 auto
        margin-bottom: 10px
        .moderator-description
          width: 100%
          position: absolute
          height: 100%
          top: 0
          background: rgba($primary-color, .75)
          color: white
          display: none
          .vertical-align-content
            padding: 10px
        &:hover
          .moderator-description
            display: block
      .moderator-name
        font-family: Pluto
        color: $primary-color
        font-weight: 500
        font-size: 20px
        height: 40px

  .founders-support
    .text
      margin-bottom: 60px
    p
      color: white
    .support-item
      +grid-column(4)
      p
        height: 110px

  .reveal-modal
    text-align: center
    .facebook-share-button
      background-color: $fb_blue
    .twitter-share-button
      background-color: $tw_blue
    .facebook-share-button, .twitter-share-button
      margin: rem-calc(10)
      &:before
        position: relative
        top: 1px
        margin-right: 5px
    .button
      &:last-child
        margin: 0

  .founders-subscription
    ul
      li
        list-style: disc
        margin-bottom: 20px
        font-size: 20px

  .catarse-project
    +grid-column(4)
    margin-bottom: 2em
    iframe
      background: white
      overflow: hidden

  .dark
    background: asset-url("pages/founders/ted_bg.jpg")
    color: white
    p
      color: white

  .light
    background: asset-url("pages/founders/pattern_bg.jpg")

  .catarse-logo
    padding: 0 30px
    padding-top: 90px
