$green: #008742

@import compass/reset
@import foundation
@import fonts
@import mobilizations

body
  font-size: 1.1em

body, h2
  font-family: Proxima Nova

header
  background: $green
  padding: 1em 0

.row
  +grid-row
