body.users.edit
  .title
    font-size: 1.25em
    h2, small
      color: $green
    h2
      margin-bottom: .25em
      font-size: 1em
      font-weight: bold
      line-height: 0
  .form
    margin-top: 2em
  label[for="user_public"], label[for="user_gender_male"], label[for="user_gender_female"], label[for="user_gender_other"]
    display: inline-block
    margin-left: .5em
  label[for="user_gender_male"], label[for="user_gender_female"], label[for="user_gender_other"]
    line-height: 77px
  label[for="user_gender_male"], label[for="user_gender_female"]
    margin-right: 1.5em
  label[for="user_facebook_url"], label[for="user_twitter_url"]
    font-size: 1.1em
    font-weight: normal
    line-height: 45px
    margin-right: .5em
  label[for="user_facebook_url"], label[for="user_twitter_url"], input#user_facebook_url, input#user_twitter_url
    display: inline-block
  input#user_facebook_url, input#user_twitter_url
    width: auto
  .form
    .image
      text-align: center
      input[type='file']
        position: absolute
        top: -1000px
      img
        margin-bottom: 1em

body.users.show
  .user_left
    +grid-column(9)
    .avatar
      +grid-column(2)
    .user_info
      +grid-column(10)
      margin-bottom: 2em
    .task
      +grid-column(4)
      margin-bottom: 1em
      span.label
        font-size: .6em
        padding: 0 1em
        line-height: 25px
        font-weight: normal
  .user_right
    +grid-column(3)
  h2
    margin-bottom: 0
    line-height: normal
    font-weight: 800
    font-size: 1.25em
    &.user_name
      display: inline-block
  a.edit_user
    font-size: .8em
    color: $profile-orange
  .user_profession
    margin: .3em 0 1em 0
    font-size: .8em
  .user_details
    font-size: .8em
    margin-bottom: 3em
    a.icon-facebook
      color: $fb_blue
    a.icon-twitter
      color: $tw_blue
    *:before
      font-size: 1.25em
      position: relative
      top: 3px
    a.icon-link
      color: $light_gray
      &:before
        margin-right: .25em
    a, span.icon-facebook, span.icon-twitter, span.user_location
      display: inline-block
      margin-right: 1em
      margin-bottom: .25em
  .user_categories
    overflow: hidden
    .categories
      .category
        font-size: .7em
        border-right: 1px solid lightgray
        padding-right: 1em
        float: left
        margin-right: 1em
        margin-bottom: 1em
        &:last-child
          border-right: 0
        &.mobilizacao-em-rede
          span
            color: $mobilizacao-em-rede
        &.mobilizacao-na-rua
          span
            color: $mobilizacao-na-rua
        &.audio-e-visual
          span
            color: $audio-e-visual
        &.producao-e-consultoria
          span
            color: $producao-e-consultoria
        &.tecnologia
          span
            color: $tecnologia
        span
          display: block
          strong
            font-size: 1.7em
  .user_bio
    margin-top: 2em
    margin-bottom: 1em
    strong
      font-size: .9em
      display: block
      margin-bottom: .5em
    .content
      font-size: .8em
  h3
    font-size: .9em
    border-bottom: $lightest_gray solid 1px
    padding-bottom: .25em
    margin-bottom: 1em
  .matching_tasks
    .empty, .matching_tasks_title
      +grid-column(12)
  .activities
    .activity
      font-size: .9em
      margin-bottom: 1em
      img, span.user
        display: none
      span.created_at
        display: block
        font-size: .8em
      span.text
        font-weight: bold
