p Olá #{@user.name},

p Te enviamos esse email porque você nos pediu para recuperar a sua senha de acesso ao Meu Rio. Para recuperá-la clique no link abaixo e escolha uma nova senha.

p
  = link_to 'Trocar senha', edit_password_url(@resource, :reset_password_token => @token)

p Se você não fez o pedido de recuperação da senha, entre em contato com a nossa equipe pelo email equipe@meurio.org.br